:root {
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.5rem;
  --spacing-6: 2rem;
  --spacing-7: 3rem;
  --spacing-8: 4rem;
  --module-padding: var(--spacing-7);
  --module-reducedPadding: var(--spacing-5);
}

@media screen and (min-width: 36em) {
  :root {
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 1rem;
    --spacing-4: 1.5rem;
    --spacing-5: 2.5rem;
    --spacing-6: 4rem;
    --spacing-7: 5rem;
    --spacing-8: 6rem;
  }
}

.wink-icon {
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  max-width: 72px;
  max-height: 72px;
  height: 24px;
  width: 24px;
  fill: rgba(36, 28, 21, 0.65);
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

blockquote,
body,
dd,
dl,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
legend,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-size: 1em;
}

body {
  background: #fff;
  line-height: 1.35;
  color: #403b3b;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #004e56;
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #002023;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  min-width: 0;
  border: 0;
}

ul {
  list-style: none;
}

li ol,
li ul {
  margin-bottom: 0;
}

small {
  font-size: 50%;
}

pre {
  font-size: 100%;
  overflow: auto;
  padding: 1.25rem;
  white-space: pre;
  color: #fff;
  background-color: #241c15;
  border-radius: 0.25rem;
}

code,
pre {
  font-family: Source Code Pro, Consolas, Lucida Console, Courier, monospace;
}

input,
select {
  margin: 0;
  vertical-align: middle;
}

cite {
  font-style: normal;
}

strong {
  font-weight: 500;
}

hr {
  border: 0;
  background-color: #241c15;
  display: block;
  width: 100%;
  height: 0.0625rem;
  margin: 1.25rem 0;
  padding: 0;
}

[data-module-id]:not([data-module-id="articleText"]) {
  scroll-margin-top: 7.75rem;
}

@media print {
  .contentHubSubnav,
  .ctaPrimary,
  .globalFooter__storefront,
  .globalNav,
  .globalNav__bar,
  .jumpLinkNav,
  .jumpLinkNav__items {
    display: none;
  }
}

.previewBanner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border-top: 0.25rem solid #692340;
  z-index: 10001;
  width: 100%;
  position: sticky;
  left: 0;
  bottom: 0;
}

.previewBanner--error {
  border-top-color: #ff3ebf;
}

.previewBanner--switchedEnv {
  border-top-color: #e7b75f;
}

.previewBanner--switchedEnv:before {
  font-size: 0.6875rem;
  background: #e7b75f;
  position: relative;
  bottom: 0.625rem;
  padding: 0.25rem 0.625rem;
  display: block;
  content: "Environment: " attr(data-environment);
}

.previewBanner .collapseButton {
  background: #692340;
  height: 1.5rem;
  position: absolute;
  top: -1.5rem;
  left: 0.0625rem;
  width: 1.5rem;
  color: #fff;
  text-align: center;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.previewBanner .collapseButton .icon--collapse {
  display: none;
}

.previewBanner .collapseButton svg {
  width: 0.75rem;
}

.previewBanner .collapseButton path {
  fill: #fff;
}

.previewBanner .layout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.875rem;
  padding: 0.625rem 0;
}

@media only screen and (max-width: 68.75em) {
  .previewBanner .layout {
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.previewBanner--hidden {
  border-top: 0;
  z-index: 100;
}

.previewBanner--hidden + .environmentBanner,
.previewBanner--hidden > .layout {
  display: none;
}

.previewBanner--hidden .collapseButton .icon--collapse {
  display: inline-block;
}

.previewBanner--hidden .collapseButton .icon--expand {
  display: none;
}

.previewBanner__actions,
.previewBanner__label {
  padding: 0.625rem 0;
}

.previewBanner__actions a {
  padding: 0 0.3125rem;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
}

.previewBanner__actions a .badge {
  color: #fff;
}

.previewBanner__actions a:hover .previewBanner__actions__icon {
  background-color: #efeeea;
}

.previewBanner__actions__icon {
  padding: 0.625rem;
  display: inline-block;
  border-radius: 50%;
  font-size: 1.375rem;
  height: 1.75rem;
  width: 1.75rem;
  text-align: center;
}

.previewBanner__actions svg path {
  fill: #007c89;
}

.previewBanner__actions .icon--link {
  width: 17px;
  height: 16px;
}

.environmentBanner {
  position: sticky;
  left: 0;
  bottom: 0;
  right: 0;
}

.environmentBanner:before {
  font-size: 0.6875rem;
  background: #e7b75f;
  position: relative;
  padding: 0.25rem 0.625rem;
  display: block;
  content: "Environment: " attr(data-environment);
}

.environmentBanner:after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 0.25rem solid #e7b75f;
  outline-offset: -0.25rem;
  pointer-events: none;
}

.previewBanner + .environmentBanner:before {
  display: none;
}

.align--center {
  text-align: center !important;
}

.align--left {
  text-align: left !important;
}

.align--right {
  text-align: right !important;
}

.screen-reader-only {
  border: 0 !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex--nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex--column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex--row {
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex > .cell {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.flex--left {
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex--center {
  -ms-flex-pack: center;
  justify-content: center;
}

.flex--right {
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex--between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex--top {
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex--middle {
  -ms-flex-align: center;
  align-items: center;
}

.flex--bottom {
  -ms-flex-align: end;
  align-items: flex-end;
}

@media screen and (min-width: 68.75em) {
  .flex--reverse {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

.flex--break {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.flex--columns-2 > .cell {
  width: 50%;
}

@media screen and (min-width: 37.5em) {
  .flex--columns-2-medium > .cell {
    width: 50%;
  }
}

@media screen and (min-width: 68.75em) {
  .flex--columns-2-large > .cell {
    width: 50%;
  }
}

.flex--columns-3 > .cell {
  width: 33.33333333%;
}

@media screen and (min-width: 37.5em) {
  .flex--columns-3-medium > .cell {
    width: 33.33333333%;
  }
}

@media screen and (min-width: 68.75em) {
  .flex--columns-3-large > .cell {
    width: 33.33333333%;
  }
}

.flex--columns-4 > .cell {
  width: 25%;
}

@media screen and (min-width: 37.5em) {
  .flex--columns-4-medium > .cell {
    width: 25%;
  }
}

@media screen and (min-width: 68.75em) {
  .flex--columns-4-large > .cell {
    width: 25%;
  }
}

.flex--columns-6 > .cell {
  width: 16.66666667%;
}

@media screen and (min-width: 37.5em) {
  .flex--columns-6-medium > .cell {
    width: 16.66666667%;
  }
}

@media screen and (min-width: 68.75em) {
  .flex--columns-6-large > .cell {
    width: 16.66666667%;
  }
}

.flex--auto {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.flex--none {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

@media screen and (min-width: 37.5em) {
  .flex--none-medium {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media screen and (min-width: 37.5em) {
  .flex--auto-medium {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media screen and (min-width: 68.75em) {
  .flex--auto-large {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

@media screen and (min-width: 68.75em) {
  .flex--none-large {
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

.flex--1 {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

@media screen and (min-width: 37.5em) {
  .flex--1-medium {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
  }
}

@media screen and (min-width: 68.75em) {
  .flex--1-large {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
  }
}

.flex--2 {
  -ms-flex-positive: 2;
  flex-grow: 2;
  -ms-flex-negative: 2;
  flex-shrink: 2;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

@media screen and (min-width: 37.5em) {
  .flex--2-medium {
    -ms-flex-positive: 2;
    flex-grow: 2;
    -ms-flex-negative: 2;
    flex-shrink: 2;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
  }
}

@media screen and (min-width: 68.75em) {
  .flex--2-large {
    -ms-flex-positive: 2;
    flex-grow: 2;
    -ms-flex-negative: 2;
    flex-shrink: 2;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
  }
}

.flex--3 {
  -ms-flex-positive: 3;
  flex-grow: 3;
  -ms-flex-negative: 3;
  flex-shrink: 3;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

@media screen and (min-width: 37.5em) {
  .flex--3-medium {
    -ms-flex-positive: 3;
    flex-grow: 3;
    -ms-flex-negative: 3;
    flex-shrink: 3;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
  }
}

@media screen and (min-width: 68.75em) {
  .flex--3-large {
    -ms-flex-positive: 3;
    flex-grow: 3;
    -ms-flex-negative: 3;
    flex-shrink: 3;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
  }
}

.flex--4 {
  -ms-flex-positive: 4;
  flex-grow: 4;
  -ms-flex-negative: 4;
  flex-shrink: 4;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

@media screen and (min-width: 37.5em) {
  .flex--4-medium {
    -ms-flex-positive: 4;
    flex-grow: 4;
    -ms-flex-negative: 4;
    flex-shrink: 4;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
  }
}

@media screen and (min-width: 68.75em) {
  .flex--4-large {
    -ms-flex-positive: 4;
    flex-grow: 4;
    -ms-flex-negative: 4;
    flex-shrink: 4;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
  }
}

.layout {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.layout--margin {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media screen and (min-width: 37.5em) {
  .layout--margin {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

@media screen and (min-width: 68.75em) {
  .layout--margin {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
  }
}

.layout--margin[class*=" background"],
.layout--margin[class^="background"] {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (min-width: 37.5em) {
  .layout--margin[class*=" background"],
  .layout--margin[class^="background"] {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}

@media screen and (min-width: 68.75em) {
  .layout--margin[class*=" background"],
  .layout--margin[class^="background"] {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

.layout--margin.backgroundBrandYellow + .layout--margin.backgroundBrandYellow,
.layout--margin.backgroundCharredKale + .layout--margin.backgroundCharredKale,
.layout--margin.backgroundCornflower + .layout--margin.backgroundCornflower,
.layout--margin.backgroundCucumber + .layout--margin.backgroundCucumber,
.layout--margin.backgroundDietCornflower
  + .layout--margin.backgroundDietCornflower,
.layout--margin.backgroundDietCucumber + .layout--margin.backgroundDietCucumber,
.layout--margin.backgroundDietRadish + .layout--margin.backgroundDietRadish,
.layout--margin.backgroundDietSquash + .layout--margin.backgroundDietSquash,
.layout--margin.backgroundDietYam + .layout--margin.backgroundDietYam,
.layout--margin.backgroundJasmine + .layout--margin.backgroundJasmine,
.layout--margin.backgroundParsnip + .layout--margin.backgroundParsnip,
.layout--margin.backgroundRadish + .layout--margin.backgroundRadish,
.layout--margin.backgroundSquash + .layout--margin.backgroundSquash,
.layout--margin.backgroundYam + .layout--margin.backgroundYam {
  padding-top: 0;
}

.layout--halfMargin.backgroundBrandYellow
  + .layout--margin.backgroundBrandYellow,
.layout--halfMargin.backgroundCharredKale
  + .layout--margin.backgroundCharredKale,
.layout--halfMargin.backgroundCornflower + .layout--margin.backgroundCornflower,
.layout--halfMargin.backgroundCucumber + .layout--margin.backgroundCucumber,
.layout--halfMargin.backgroundDietCornflower
  + .layout--margin.backgroundDietCornflower,
.layout--halfMargin.backgroundDietCucumber
  + .layout--margin.backgroundDietCucumber,
.layout--halfMargin.backgroundDietRadish + .layout--margin.backgroundDietRadish,
.layout--halfMargin.backgroundDietSquash + .layout--margin.backgroundDietSquash,
.layout--halfMargin.backgroundDietYam + .layout--margin.backgroundDietYam,
.layout--halfMargin.backgroundJasmine + .layout--margin.backgroundJasmine,
.layout--halfMargin.backgroundParsnip + .layout--margin.backgroundParsnip,
.layout--halfMargin.backgroundRadish + .layout--margin.backgroundRadish,
.layout--halfMargin.backgroundSquash + .layout--margin.backgroundSquash,
.layout--halfMargin.backgroundYam + .layout--margin.backgroundYam {
  padding-top: 2.5rem;
}

.layout--halfMargin {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 37.5em) {
  .layout--halfMargin {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
  }
}

@media screen and (min-width: 68.75em) {
  .layout--halfMargin {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
  }
}

.layout--halfMargin[class*=" background"],
.layout--halfMargin[class^="background"] {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media screen and (min-width: 37.5em) {
  .layout--halfMargin[class*=" background"],
  .layout--halfMargin[class^="background"] {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}

@media screen and (min-width: 68.75em) {
  .layout--halfMargin[class*=" background"],
  .layout--halfMargin[class^="background"] {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}

.backgroundBrandYellow + .layout--halfMargin.backgroundBrandYellow,
.backgroundCharredKale + .layout--halfMargin.backgroundCharredKale,
.backgroundCornflower + .layout--halfMargin.backgroundCornflower,
.backgroundCucumber + .layout--halfMargin.backgroundCucumber,
.backgroundDietCornflower + .layout--halfMargin.backgroundDietCornflower,
.backgroundDietCucumber + .layout--halfMargin.backgroundDietCucumber,
.backgroundDietRadish + .layout--halfMargin.backgroundDietRadish,
.backgroundDietSquash + .layout--halfMargin.backgroundDietSquash,
.backgroundDietYam + .layout--halfMargin.backgroundDietYam,
.backgroundJasmine + .layout--halfMargin.backgroundJasmine,
.backgroundParsnip + .layout--halfMargin.backgroundParsnip,
.backgroundRadish + .layout--halfMargin.backgroundRadish,
.backgroundSquash + .layout--halfMargin.backgroundSquash,
.backgroundYam + .layout--halfMargin.backgroundYam {
  padding-top: 0;
}

.layout--padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (min-width: 37.5em) {
  .layout--padding {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
  }
}

@media screen and (min-width: 68.75em) {
  .layout--padding {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

.layout--halfPadding {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media screen and (min-width: 37.5em) {
  .layout--halfPadding {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}

@media screen and (min-width: 68.75em) {
  .layout--halfPadding {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}

.layout--quarterPadding {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

@media screen and (min-width: 37.5em) {
  .layout--quarterPadding {
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
  }
}

@media screen and (min-width: 68.75em) {
  .layout--quarterPadding {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}

#content > .layout--halfMargin:first-child,
#content > .layout--margin:first-child,
.layout--heroPaddingTop {
  padding-top: 7.5rem;
}

@media screen and (min-width: 37.5em) {
  #content > .layout--halfMargin:first-child,
  #content > .layout--margin:first-child,
  .layout--heroPaddingTop {
    padding-top: 10rem;
  }
}

@media screen and (min-width: 68.75em) {
  #content > .layout--halfMargin:first-child,
  #content > .layout--margin:first-child,
  .layout--heroPaddingTop {
    padding-top: 12.5rem;
  }
}

#content > .layout--halfMargin:first-child.layout--halfMargin,
#content > .layout--halfMargin:first-child.layout--margin,
#content > .layout--margin:first-child.layout--halfMargin,
#content > .layout--margin:first-child.layout--margin,
.layout--heroPaddingTop.layout--halfMargin,
.layout--heroPaddingTop.layout--margin {
  margin-top: 0;
}

.content {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 37.5em) {
  .content {
    width: 75%;
  }
}

@media screen and (min-width: 37.5em) {
  .content--4of8-medium {
    width: 50%;
  }
}

@media screen and (min-width: 37.5em) {
  .content--6of8-medium {
    width: 75%;
  }
}

@media screen and (min-width: 37.5em) {
  .content--8of8-medium {
    width: 100%;
  }
}

@media screen and (min-width: 68.75em) {
  .content--6of16-large {
    width: 37.5%;
  }
}

@media screen and (min-width: 68.75em) {
  .content--8of16-large {
    width: 50%;
  }
}

@media screen and (min-width: 68.75em) {
  .content--10of16-large {
    width: 62.5%;
  }
}

@media screen and (min-width: 68.75em) {
  .content--12of16-large {
    width: 75%;
  }
}

@media screen and (min-width: 68.75em) {
  .content--14of16-large {
    width: 87.5%;
  }
}

@media screen and (min-width: 68.75em) {
  .content--16of16-large {
    width: 100%;
  }
}

.content--withSidebar:after {
  content: "";
  display: table;
  clear: both;
}

.content--withSidebar .content--main {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 68.75em) {
  .content--withSidebar .content--main {
    width: 75%;
    padding-left: 0.625rem;
    float: right;
  }
}

@supports (display: grid) {
  .content--sidebarAsTrack:after {
    display: block;
  }

  @media screen and (min-width: 68.75em) {
    .content--sidebarAsTrack {
      display: grid;
      grid-template-areas: "sidebar . content";
      grid-template-columns: minmax(0, 2.5fr) 0.5fr minmax(0, 9fr);
    }

    .content--sidebarAsTrack .content--sidebar {
      grid-area: sidebar;
      width: 100%;
    }

    .content--sidebarAsTrack .content--main {
      grid-area: content;
      width: 100%;
    }
  }
}

.content--sidebar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (min-width: 68.75em) {
  .content--sidebar {
    width: 10rem;
    width: 20.83333333%;
    padding-right: 0.625rem;
    float: left;
  }
}

.content--sidebar_stickyWrapper {
  position: sticky;
  top: 5.5rem;
}

@media screen and (min-width: 68.75em) {
  .content--sidebar_stickyWrapper .jumpLinkNav[data-behavior="sticky"] {
    position: relative;
    top: 0;
  }
}

@media screen and (min-width: 68.75em) {
  .content--main {
    width: 83.33333333%;
    margin-left: auto;
    margin-right: auto;
  }
}

.gutter--left-gap {
  margin-top: 2.5rem;
}

.gutter--right-gap {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 68.75em) {
  .gutter {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .gutter--left {
    padding-left: 0.625rem;
    padding-right: 0;
  }

  .flex--reverse .gutter--left {
    padding-left: 0;
    padding-right: 0.625rem;
  }

  .gutter--left-gap {
    padding-left: calc(8.33333% + 1.875rem);
    margin-top: 0;
  }

  .flex--reverse .gutter--left-gap {
    padding-left: 0;
    padding-right: calc(8.33333% + 1.875rem);
  }

  .gutter--right {
    padding-left: 0;
    padding-right: 0.625rem;
  }

  .flex--reverse .gutter--right {
    padding-left: 0.625rem;
    padding-right: 0;
  }

  .gutter--right-gap {
    padding-right: calc(8.33333% + 1.875rem);
    margin-bottom: 0;
  }

  .flex--reverse .gutter--right-gap {
    padding-left: calc(8.33333% + 1.875rem);
    padding-right: 0;
  }

  .gutter--collapse {
    margin-left: -0.625rem;
    margin-right: -0.625rem;
  }
}

.padding-10 {
  padding: 6.25rem;
}

.padding--top-10 {
  padding-top: 6.25rem;
}

.padding--bottom-10 {
  padding-bottom: 6.25rem;
}

.padding--right-10 {
  padding-right: 6.25rem;
}

.padding--left-10 {
  padding-left: 6.25rem;
}

.padding--vertical-10 {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.padding--horizontal-10 {
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}

.padding-9 {
  padding: 5.625rem;
}

.padding--top-9 {
  padding-top: 5.625rem;
}

.padding--bottom-9 {
  padding-bottom: 5.625rem;
}

.padding--right-9 {
  padding-right: 5.625rem;
}

.padding--left-9 {
  padding-left: 5.625rem;
}

.padding--vertical-9 {
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
}

.padding--horizontal-9 {
  padding-left: 5.625rem;
  padding-right: 5.625rem;
}

.padding-8 {
  padding: 5rem;
}

.padding--top-8 {
  padding-top: 5rem;
}

.padding--bottom-8 {
  padding-bottom: 5rem;
}

.padding--right-8 {
  padding-right: 5rem;
}

.padding--left-8 {
  padding-left: 5rem;
}

.padding--vertical-8 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.padding--horizontal-8 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.padding-7 {
  padding: 4.375rem;
}

.padding--top-7 {
  padding-top: 4.375rem;
}

.padding--bottom-7 {
  padding-bottom: 4.375rem;
}

.padding--right-7 {
  padding-right: 4.375rem;
}

.padding--left-7 {
  padding-left: 4.375rem;
}

.padding--vertical-7 {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.padding--horizontal-7 {
  padding-left: 4.375rem;
  padding-right: 4.375rem;
}

.padding-6 {
  padding: 3.75rem;
}

.padding--top-6 {
  padding-top: 3.75rem;
}

.padding--bottom-6 {
  padding-bottom: 3.75rem;
}

.padding--right-6 {
  padding-right: 3.75rem;
}

.padding--left-6 {
  padding-left: 3.75rem;
}

.padding--vertical-6 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.padding--horizontal-6 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.padding-5 {
  padding: 3.125rem;
}

.padding--top-5 {
  padding-top: 3.125rem;
}

.padding--bottom-5 {
  padding-bottom: 3.125rem;
}

.padding--right-5 {
  padding-right: 3.125rem;
}

.padding--left-5 {
  padding-left: 3.125rem;
}

.padding--vertical-5 {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.padding--horizontal-5 {
  padding-left: 3.125rem;
  padding-right: 3.125rem;
}

.padding-4 {
  padding: 2.5rem;
}

.padding--top-4 {
  padding-top: 2.5rem;
}

.padding--bottom-4 {
  padding-bottom: 2.5rem;
}

.padding--right-4 {
  padding-right: 2.5rem;
}

.padding--left-4 {
  padding-left: 2.5rem;
}

.padding--vertical-4 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.padding--horizontal-4 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.padding-3 {
  padding: 1.875rem;
}

.padding--top-3 {
  padding-top: 1.875rem;
}

.padding--bottom-3 {
  padding-bottom: 1.875rem;
}

.padding--right-3 {
  padding-right: 1.875rem;
}

.padding--left-3 {
  padding-left: 1.875rem;
}

.padding--vertical-3 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.padding--horizontal-3 {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.padding-2 {
  padding: 1.25rem;
}

.padding--top-2 {
  padding-top: 1.25rem;
}

.padding--bottom-2 {
  padding-bottom: 1.25rem;
}

.padding--right-2 {
  padding-right: 1.25rem;
}

.padding--left-2 {
  padding-left: 1.25rem;
}

.padding--vertical-2 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.padding--horizontal-2 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.padding-1 {
  padding: 0.625rem;
}

.padding--top-1 {
  padding-top: 0.625rem;
}

.padding--bottom-1 {
  padding-bottom: 0.625rem;
}

.padding--right-1 {
  padding-right: 0.625rem;
}

.padding--left-1 {
  padding-left: 0.625rem;
}

.padding--vertical-1 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.padding--horizontal-1 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.padding-0 {
  padding: 0;
}

.padding--top-0 {
  padding-top: 0;
}

.padding--bottom-0 {
  padding-bottom: 0;
}

.padding--right-0 {
  padding-right: 0;
}

.padding--left-0 {
  padding-left: 0;
}

.padding--vertical-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding--horizontal-0 {
  padding-left: 0;
  padding-right: 0;
}

.margin-10 {
  margin: 6.25rem;
}

.margin--top-10 {
  margin-top: 6.25rem;
}

.margin--bottom-10 {
  margin-bottom: 6.25rem;
}

.margin--right-10 {
  margin-right: 6.25rem;
}

.margin--left-10 {
  margin-left: 6.25rem;
}

.margin--vertical-10 {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

.margin--horizontal-10 {
  margin-left: 6.25rem;
  margin-right: 6.25rem;
}

.margin-9 {
  margin: 5.625rem;
}

.margin--top-9 {
  margin-top: 5.625rem;
}

.margin--bottom-9 {
  margin-bottom: 5.625rem;
}

.margin--right-9 {
  margin-right: 5.625rem;
}

.margin--left-9 {
  margin-left: 5.625rem;
}

.margin--vertical-9 {
  margin-top: 5.625rem;
  margin-bottom: 5.625rem;
}

.margin--horizontal-9 {
  margin-left: 5.625rem;
  margin-right: 5.625rem;
}

.margin-8 {
  margin: 5rem;
}

.margin--top-8 {
  margin-top: 5rem;
}

.margin--bottom-8 {
  margin-bottom: 5rem;
}

.margin--right-8 {
  margin-right: 5rem;
}

.margin--left-8 {
  margin-left: 5rem;
}

.margin--vertical-8 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.margin--horizontal-8 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.margin-7 {
  margin: 4.375rem;
}

.margin--top-7 {
  margin-top: 4.375rem;
}

.margin--bottom-7 {
  margin-bottom: 4.375rem;
}

.margin--right-7 {
  margin-right: 4.375rem;
}

.margin--left-7 {
  margin-left: 4.375rem;
}

.margin--vertical-7 {
  margin-top: 4.375rem;
  margin-bottom: 4.375rem;
}

.margin--horizontal-7 {
  margin-left: 4.375rem;
  margin-right: 4.375rem;
}

.margin-6 {
  margin: 3.75rem;
}

.margin--top-6 {
  margin-top: 3.75rem;
}

.margin--bottom-6 {
  margin-bottom: 3.75rem;
}

.margin--right-6 {
  margin-right: 3.75rem;
}

.margin--left-6 {
  margin-left: 3.75rem;
}

.margin--vertical-6 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.margin--horizontal-6 {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

.margin-5 {
  margin: 3.125rem;
}

.margin--top-5 {
  margin-top: 3.125rem;
}

.margin--bottom-5 {
  margin-bottom: 3.125rem;
}

.margin--right-5 {
  margin-right: 3.125rem;
}

.margin--left-5 {
  margin-left: 3.125rem;
}

.margin--vertical-5 {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

.margin--horizontal-5 {
  margin-left: 3.125rem;
  margin-right: 3.125rem;
}

.margin-4 {
  margin: 2.5rem;
}

.margin--top-4 {
  margin-top: 2.5rem;
}

.margin--bottom-4 {
  margin-bottom: 2.5rem;
}

.margin--right-4 {
  margin-right: 2.5rem;
}

.margin--left-4 {
  margin-left: 2.5rem;
}

.margin--vertical-4 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.margin--horizontal-4 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.margin-3 {
  margin: 1.875rem;
}

.margin--top-3 {
  margin-top: 1.875rem;
}

.margin--bottom-3 {
  margin-bottom: 1.875rem;
}

.margin--right-3 {
  margin-right: 1.875rem;
}

.margin--left-3 {
  margin-left: 1.875rem;
}

.margin--vertical-3 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.margin--horizontal-3 {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.margin-2 {
  margin: 1.25rem;
}

.margin--top-2 {
  margin-top: 1.25rem;
}

.margin--bottom-2 {
  margin-bottom: 1.25rem;
}

.margin--right-2 {
  margin-right: 1.25rem;
}

.margin--left-2 {
  margin-left: 1.25rem;
}

.margin--vertical-2 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.margin--horizontal-2 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.margin-1 {
  margin: 0.625rem;
}

.margin--top-1 {
  margin-top: 0.625rem;
}

.margin--bottom-1 {
  margin-bottom: 0.625rem;
}

.margin--right-1 {
  margin-right: 0.625rem;
}

.margin--left-1 {
  margin-left: 0.625rem;
}

.margin--vertical-1 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.margin--horizontal-1 {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.margin-0 {
  margin: 0;
}

.margin--top-0 {
  margin-top: 0;
}

.margin--bottom-0 {
  margin-bottom: 0;
}

.margin--right-0 {
  margin-right: 0;
}

.margin--left-0 {
  margin-left: 0;
}

.margin--vertical-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin--horizontal-0 {
  margin-left: 0;
  margin-right: 0;
}

.js .js-hide {
  display: none;
}

.copy-eyebrow {
  text-transform: uppercase;
  color: #241c15;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0;
}

.highlighted-eyebrow {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3125rem 0.625rem;
  color: var(--copy-color);
}

.badge-brow {
  position: relative;
}

@media screen and (max-width: 68.75em) {
  .badge-brow {
    margin-left: 1.25rem;
  }
}

.badge-brow .cr2Badge {
  position: absolute;
  z-index: 100;
  bottom: 0.625rem;
  right: 90%;
}

.badge-brow .highlighted-eyebrow {
  padding-left: 12%;
}

@media screen and (max-width: 68.75em) {
  .ss__slide-content .badge-brow {
    margin-top: 1.25rem;
  }
}

.copy--light {
  color: #727070;
}

.copy--dark {
  color: #241c15;
}

.padding-c9 {
  padding: 4.5rem;
}

.padding--top-c9 {
  padding-top: 4.5rem;
}

.padding--bottom-c9 {
  padding-bottom: 4.5rem;
}

.padding--right-c9 {
  padding-right: 4.5rem;
}

.padding--left-c9 {
  padding-left: 4.5rem;
}

.padding--vertical-c9 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.padding--horizontal-c9 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.padding-c8 {
  padding: 3rem;
}

.padding--top-c8 {
  padding-top: 3rem;
}

.padding--bottom-c8 {
  padding-bottom: 3rem;
}

.padding--right-c8 {
  padding-right: 3rem;
}

.padding--left-c8 {
  padding-left: 3rem;
}

.padding--vertical-c8 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.padding--horizontal-c8 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.padding-c7 {
  padding: 2rem;
}

.padding--top-c7 {
  padding-top: 2rem;
}

.padding--bottom-c7 {
  padding-bottom: 2rem;
}

.padding--right-c7 {
  padding-right: 2rem;
}

.padding--left-c7 {
  padding-left: 2rem;
}

.padding--vertical-c7 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding--horizontal-c7 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padding-c6 {
  padding: 1.5rem;
}

.padding--top-c6 {
  padding-top: 1.5rem;
}

.padding--bottom-c6 {
  padding-bottom: 1.5rem;
}

.padding--right-c6 {
  padding-right: 1.5rem;
}

.padding--left-c6 {
  padding-left: 1.5rem;
}

.padding--vertical-c6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.padding--horizontal-c6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.padding-c5 {
  padding: 1.25rem;
}

.padding--top-c5 {
  padding-top: 1.25rem;
}

.padding--bottom-c5 {
  padding-bottom: 1.25rem;
}

.padding--right-c5 {
  padding-right: 1.25rem;
}

.padding--left-c5 {
  padding-left: 1.25rem;
}

.padding--vertical-c5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.padding--horizontal-c5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.padding-c4 {
  padding: 1rem;
}

.padding--top-c4 {
  padding-top: 1rem;
}

.padding--bottom-c4 {
  padding-bottom: 1rem;
}

.padding--right-c4 {
  padding-right: 1rem;
}

.padding--left-c4 {
  padding-left: 1rem;
}

.padding--vertical-c4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding--horizontal-c4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-c3 {
  padding: 0.75rem;
}

.padding--top-c3 {
  padding-top: 0.75rem;
}

.padding--bottom-c3 {
  padding-bottom: 0.75rem;
}

.padding--right-c3 {
  padding-right: 0.75rem;
}

.padding--left-c3 {
  padding-left: 0.75rem;
}

.padding--vertical-c3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.padding--horizontal-c3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.padding-c2 {
  padding: 0.5rem;
}

.padding--top-c2 {
  padding-top: 0.5rem;
}

.padding--bottom-c2 {
  padding-bottom: 0.5rem;
}

.padding--right-c2 {
  padding-right: 0.5rem;
}

.padding--left-c2 {
  padding-left: 0.5rem;
}

.padding--vertical-c2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.padding--horizontal-c2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.padding-c1 {
  padding: 0.25rem;
}

.padding--top-c1 {
  padding-top: 0.25rem;
}

.padding--bottom-c1 {
  padding-bottom: 0.25rem;
}

.padding--right-c1 {
  padding-right: 0.25rem;
}

.padding--left-c1 {
  padding-left: 0.25rem;
}

.padding--vertical-c1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.padding--horizontal-c1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.margin-c9 {
  margin: 4.5rem;
}

.margin--top-c9 {
  margin-top: 4.5rem;
}

.margin--bottom-c9 {
  margin-bottom: 4.5rem;
}

.margin--right-c9 {
  margin-right: 4.5rem;
}

.margin--left-c9 {
  margin-left: 4.5rem;
}

.margin--vertical-c9 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.margin--horizontal-c9 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.margin-c8 {
  margin: 3rem;
}

.margin--top-c8 {
  margin-top: 3rem;
}

.margin--bottom-c8 {
  margin-bottom: 3rem;
}

.margin--right-c8 {
  margin-right: 3rem;
}

.margin--left-c8 {
  margin-left: 3rem;
}

.margin--vertical-c8 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.margin--horizontal-c8 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.margin-c7 {
  margin: 2rem;
}

.margin--top-c7 {
  margin-top: 2rem;
}

.margin--bottom-c7 {
  margin-bottom: 2rem;
}

.margin--right-c7 {
  margin-right: 2rem;
}

.margin--left-c7 {
  margin-left: 2rem;
}

.margin--vertical-c7 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.margin--horizontal-c7 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.margin-c6 {
  margin: 1.5rem;
}

.margin--top-c6 {
  margin-top: 1.5rem;
}

.margin--bottom-c6 {
  margin-bottom: 1.5rem;
}

.margin--right-c6 {
  margin-right: 1.5rem;
}

.margin--left-c6 {
  margin-left: 1.5rem;
}

.margin--vertical-c6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.margin--horizontal-c6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.margin-c5 {
  margin: 1.25rem;
}

.margin--top-c5 {
  margin-top: 1.25rem;
}

.margin--bottom-c5 {
  margin-bottom: 1.25rem;
}

.margin--right-c5 {
  margin-right: 1.25rem;
}

.margin--left-c5 {
  margin-left: 1.25rem;
}

.margin--vertical-c5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.margin--horizontal-c5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.margin-c4 {
  margin: 1rem;
}

.margin--top-c4 {
  margin-top: 1rem;
}

.margin--bottom-c4 {
  margin-bottom: 1rem;
}

.margin--right-c4 {
  margin-right: 1rem;
}

.margin--left-c4 {
  margin-left: 1rem;
}

.margin--vertical-c4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin--horizontal-c4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.margin-c3 {
  margin: 0.75rem;
}

.margin--top-c3 {
  margin-top: 0.75rem;
}

.margin--bottom-c3 {
  margin-bottom: 0.75rem;
}

.margin--right-c3 {
  margin-right: 0.75rem;
}

.margin--left-c3 {
  margin-left: 0.75rem;
}

.margin--vertical-c3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.margin--horizontal-c3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.margin-c2 {
  margin: 0.5rem;
}

.margin--top-c2 {
  margin-top: 0.5rem;
}

.margin--bottom-c2 {
  margin-bottom: 0.5rem;
}

.margin--right-c2 {
  margin-right: 0.5rem;
}

.margin--left-c2 {
  margin-left: 0.5rem;
}

.margin--vertical-c2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.margin--horizontal-c2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.margin-c1 {
  margin: 0.25rem;
}

.margin--top-c1 {
  margin-top: 0.25rem;
}

.margin--bottom-c1 {
  margin-bottom: 0.25rem;
}

.margin--right-c1 {
  margin-right: 0.25rem;
}

.margin--left-c1 {
  margin-left: 0.25rem;
}

.margin--vertical-c1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.margin--horizontal-c1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.padding-l5 {
  padding: 20.25rem;
}

.padding--top-l5 {
  padding-top: 20.25rem;
}

.padding--bottom-l5 {
  padding-bottom: 20.25rem;
}

.padding--right-l5 {
  padding-right: 20.25rem;
}

.padding--left-l5 {
  padding-left: 20.25rem;
}

.padding--vertical-l5 {
  padding-top: 20.25rem;
  padding-bottom: 20.25rem;
}

.padding--horizontal-l5 {
  padding-left: 20.25rem;
  padding-right: 20.25rem;
}

.padding-l4 {
  padding: 13.5rem;
}

.padding--top-l4 {
  padding-top: 13.5rem;
}

.padding--bottom-l4 {
  padding-bottom: 13.5rem;
}

.padding--right-l4 {
  padding-right: 13.5rem;
}

.padding--left-l4 {
  padding-left: 13.5rem;
}

.padding--vertical-l4 {
  padding-top: 13.5rem;
  padding-bottom: 13.5rem;
}

.padding--horizontal-l4 {
  padding-left: 13.5rem;
  padding-right: 13.5rem;
}

.padding-l3 {
  padding: 9rem;
}

.padding--top-l3 {
  padding-top: 9rem;
}

.padding--bottom-l3 {
  padding-bottom: 9rem;
}

.padding--right-l3 {
  padding-right: 9rem;
}

.padding--left-l3 {
  padding-left: 9rem;
}

.padding--vertical-l3 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.padding--horizontal-l3 {
  padding-left: 9rem;
  padding-right: 9rem;
}

.padding-l2 {
  padding: 6rem;
}

.padding--top-l2 {
  padding-top: 6rem;
}

.padding--bottom-l2 {
  padding-bottom: 6rem;
}

.padding--right-l2 {
  padding-right: 6rem;
}

.padding--left-l2 {
  padding-left: 6rem;
}

.padding--vertical-l2 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.padding--horizontal-l2 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.padding-l1 {
  padding: 4rem;
}

.padding--top-l1 {
  padding-top: 4rem;
}

.padding--bottom-l1 {
  padding-bottom: 4rem;
}

.padding--right-l1 {
  padding-right: 4rem;
}

.padding--left-l1 {
  padding-left: 4rem;
}

.padding--vertical-l1 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.padding--horizontal-l1 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.margin-l5 {
  margin: 20.25rem;
}

.margin--top-l5 {
  margin-top: 20.25rem;
}

.margin--bottom-l5 {
  margin-bottom: 20.25rem;
}

.margin--right-l5 {
  margin-right: 20.25rem;
}

.margin--left-l5 {
  margin-left: 20.25rem;
}

.margin--vertical-l5 {
  margin-top: 20.25rem;
  margin-bottom: 20.25rem;
}

.margin--horizontal-l5 {
  margin-left: 20.25rem;
  margin-right: 20.25rem;
}

.margin-l4 {
  margin: 13.5rem;
}

.margin--top-l4 {
  margin-top: 13.5rem;
}

.margin--bottom-l4 {
  margin-bottom: 13.5rem;
}

.margin--right-l4 {
  margin-right: 13.5rem;
}

.margin--left-l4 {
  margin-left: 13.5rem;
}

.margin--vertical-l4 {
  margin-top: 13.5rem;
  margin-bottom: 13.5rem;
}

.margin--horizontal-l4 {
  margin-left: 13.5rem;
  margin-right: 13.5rem;
}

.margin-l3 {
  margin: 9rem;
}

.margin--top-l3 {
  margin-top: 9rem;
}

.margin--bottom-l3 {
  margin-bottom: 9rem;
}

.margin--right-l3 {
  margin-right: 9rem;
}

.margin--left-l3 {
  margin-left: 9rem;
}

.margin--vertical-l3 {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.margin--horizontal-l3 {
  margin-left: 9rem;
  margin-right: 9rem;
}

.margin-l2 {
  margin: 6rem;
}

.margin--top-l2 {
  margin-top: 6rem;
}

.margin--bottom-l2 {
  margin-bottom: 6rem;
}

.margin--right-l2 {
  margin-right: 6rem;
}

.margin--left-l2 {
  margin-left: 6rem;
}

.margin--vertical-l2 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.margin--horizontal-l2 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.margin-l1 {
  margin: 4rem;
}

.margin--top-l1 {
  margin-top: 4rem;
}

.margin--bottom-l1 {
  margin-bottom: 4rem;
}

.margin--right-l1 {
  margin-right: 4rem;
}

.margin--left-l1 {
  margin-left: 4rem;
}

.margin--vertical-l1 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.margin--horizontal-l1 {
  margin-left: 4rem;
  margin-right: 4rem;
}

/*# sourceMappingURL=common.d7c706b8.1.css.map*/
